<div class="video-wrap js-play-video">
  {{ video.videoItem }}
  <div class="video-wrap__poster">
    <span class="video-wrap__icon"><span class="btn btn--dark-blue btn--play"></span></span>
    {{ video.image }}
  </div>
</div>
