<div class="hero-banner1 bg--overlay-black">
  <div class="hero-banner1__image">
    {{ hr1.image }}
  </div>
  {% if hr1.title or hr1.body %}
    <div class="hero-banner1__content {{ hr1.position }}">
      <div class="container">
        {% if hr1.title %}
          <h1 class="hero-banner1__title">{{ hr1.title }}</h1>
        {% endif %}
        {% if hr1.body is not empty %}
          <div class="hero-banner1__body">{{ hr1.body }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
