<div class="box-date">
  <h6 class="box-date__title text--primary-color">{{ boxDate.title }}</h6>
  <div class="box-date__group">
    <div class="box-date__day">{{ boxDate.day }}</div>
    <div class="box-date__description">{{ boxDate.description }}</div>
  </div>
</div>
