<article class="content-group course-detail">
  <div class="container">
    <div class="content-left">{{ courseDetail.contentLeft }}</div>
    <div class="content-right">{{ courseDetail.contentRight }}</div>
  </div>
</article>
