{% if topRegion %}
  <div class="top-region">
    {{ topRegion }}
  </div>
{% endif %}
<div class="container sidebar-left">
  <div class="left-region">
    {{ leftRegion }}
  </div>
  <div class="main-region">
    {{ mainRegion }}
  </div>
</div>
