<form>
  <div class="form-type-textfield form-item">
    <input class="form-control form-text" type="text" maxlength="128" size="60" placeholder="Search stanford PCS">
  </div>
  <div class="form-actions">
    <input class="form-submit" type="submit" value="Search">
  </div>
</form>
