<footer class="footer">
  <section class="footer-panel bg--brown text--white">
    <div class="container">
      <div class="footer-panel__top__item">
        <h3 class="footer-panel__title">Who we are</h3>

        <div class="logo-footer branding">
          <a class="logo" href="#">
            <img src="../../images/stanford-white@2x.png" alt="Logo" width="160" height="34">
          </a>
          <span class="site-name">{{ siteName }}</span>
        </div>
      </div>

      <div class="footer-panel__top__item">
        <h3 class="footer-panel__title">follow us</h3>

        <div class="footer-panel__body">
          220 Panama St.
          <br>Stanford University
          <br>Stanford, CA 94305-4101
          <br>Stanford, CA 94305-6055
          <br>
          <br>800-372-3749 (option 3)
          <br>summerinstitutes@stanford.edu
        </div>

        <div class="social-links">
          <ul>
            <li>
              <a class="icon-envelope" href="#">Mail</a>
            </li>
            <li>
              <a class="icon-twitter" href="#">Twitter</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-panel__top__item">
        <h3 class="footer-panel__title">NAVIGATE</h3>
        <div class="nav-footer">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Courses</a>
            </li>
            <li>
              <a href="#">Student Life</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Tuition &amp; Dates</a>
            </li>
            <li>
              <a href="#">Admission</a>
            </li>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Jobs</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-panel__top__item">
        <h3 class="footer-panel__title">support us</h3>
        <div class="support-us">
          <p>Your gift funds the Institute's research, teaching and outreach activities.</p>
          <a class="btn btn--small" href="#">Make a gift</a>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-global bg--primary-color text--white">
    <div class="container">
      <div class="footer-global__inner">
        <div class="footer-global__logo">
          <img src="../../images/footer-stanford-logo@2x.png" alt="Logo footer" width="105" height="49">
        </div>
        <div class="footer-global__nav">
          <ul>
            <li>
              <a href="http://www.stanford.edu">SU Home</a>
            </li>
            <li>
              <a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
            </li>
            <li>
              <a href="http://www.stanford.edu/search/">Search Standford</a>
            </li>
            <li>
              <a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
            </li>
            <li>
              <a href="http://emergency.stanford.edu/">Emergency Info</a>
            </li>
          </ul>
        </div>
        <div class="footer-global__copyright">
          <p>©Stanford University, Stanford, California 94305.
            <a href="http://www.stanford.edu/site/copyright.html">Copyright Complaints</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
