<div class="cards__group">
  <div class="cards__image">
    {{ cardsItem.image }}
  </div>
  <h4 class="cards__item__title">{{ cardsItem.title }}</h4>
  <div class="cards__item__description">
    {{ cardsItem.description }}
  </div>
  <div class="cards__item__link-hover">
    {{ cardsItem.link }}
  </div>
</div>
