<div class="hero-banner2">
  <div class="hero-banner2__image">
    {{ hr2.image }}
  </div>
  {% if hr2.video is not empty %}
    <div class="hero-banner2__video">
      {{ hr2.video }}
    </div>
  {% endif %}
  <div class="hero-banner2__content text--light {{ hr2.position }}">
    <div class="container">
      <h2 class="hero-banner2__title">{{ hr2.title }}</h2>
    </div>
  </div>
</div>
