<div class="list-in-article">
  <ul>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ul>
  <ol>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ol>
</div>
