<ul class="sg-colors">
	{% for item in colors %}
    <li>
      <span class="sg-swatch" style="background: {{ item }};"></span>
			<span class="sg-label">{{ item }}</span>
		</li>
   {% endfor %}
</ul>
