<p>Primary font regular: "SourceSansPro", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font regular italic: "SourceSansPro", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong style="font-weight:600;">Primary font bold 600: "SourceSansPro", "Helvetica", "Arial", sans-serif;</em></strong></p>
<p><strong style="font-weight:600;"><em>Primary font bold 600 italic: "SourceSansPro", "Helvetica", "Arial", sans-serif;</em></strong></p>
<p><strong>Primary font bold 700: "SourceSansPro", "Helvetica", "Arial", sans-serif;</strong></p>
<p><strong><em>Primary font bold 700 italic: "SourceSansPro", "Helvetica", "Arial", sans-serif;</em></strong></p>
