<form>
  <div class="container">
    <label>Country</label>
    <div class="form-item form-type-select">
      <span class="select-arrow-icon">arrow icon</span>
      <select class="form-select">
        <option  selected="selected" value="All">All</option>
        <option value="Tunisia">Tunisia</option>
        <option value="Cook Islands">Cook Islands</option>
        <option value="United States of America">United States of America</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Austria">Austria</option>
      </select>
    </div>
    <div class="form-item form-type-textfield form-item-name">
      <label>Text Input Normal</label>
      <input id="edit-text" class="form-text" type="text" placeholder="Input text">
    </div>
    <div class="form-item form-type-textfield form-item-name form-item--error">
      <label>Text Input Error</label>
      <input id="edit-text1" class="form-text error" type="text" placeholder="Input text">
    </div>
    <div class="form-item form-type-textfield form-item-name">
      <label class="inactive">Text Input Disabled</label>
      <input  disabled id="edit-text3" class="form-text" type="text" placeholder="Input text">
    </div>
    <div class="form-item form-type-textarea form-item-name">
      <label>Text area</label>
      <div class="form-textarea-wrapper">
        <textarea class="form-textarea" placeholder="Text area"></textarea>
      </div>
    </div>
    <div class="form-item form-checkboxes">
      <label>Want to subscribe to our newsletter?</label>
      <div class="form-type-radio form-item">
        <input id="radio1" name="radio" type="radio" class="form-radio">
        <label for="radio1">Yes, please email me</label>
      </div>
      <div class="form-type-radio form-item">
        <input id="radio2" name="radio" type="radio" class="form-radio">
        <label for="radio2">No, maybe next time.</label>
      </div>
    </div>
    <div class="form-item form-radios">
      <label>Contact reason</label>
      <div class="form-type-checkbox form-item">
        <input id="checkbox1" name="checkbox" class="form-checkbox" type="checkbox">
        <label for="checkbox1">General information</label>
      </div>
      <div class="form-type-checkbox form-item">
        <input id="checkbox2" name="checkbox" class="form-checkbox" type="checkbox">
        <label for="checkbox2">Request a demo</label>
      </div>
      <div class="form-type-checkbox form-item">
        <input id="checkbox3" name="checkbox" class="form-checkbox" type="checkbox">
        <label for="checkbox3">United States of America</label>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="form-submit" value="Submit">
    </div>
  </div>
</form>
