.article {
  &__link {
    margin-bottom: rem(33px);

    @include susy-media(tablet) {
      margin-bottom: rem(26px);
    }
  }

  &__title {
    letter-spacing: rem(-.5px);
    margin-bottom: rem(14px);

    @include susy-media(tablet) {
      margin-bottom: rem(7px);
    }
  }

  &__category {
    display: block;
    font-size: rem(16px);
    letter-spacing: .2px;
    margin-bottom: rem(16px);
    text-transform: uppercase;
  }

  &__body {
    display: inline-block;
    line-height: rem(25px);
    margin-bottom: rem(18px);

    @include susy-media(tablet) {
      line-height: rem(26px);
      margin-bottom: rem(17px);
    }
  }

  &__btn {
    margin-bottom: rem(50px);

    @include susy-media(tablet) {
      margin-bottom: rem(42px);
    }
  }
}
