.faq-accordion {
  border-bottom: rem(1px) solid $cadet-blue;
  position: relative;

  &__btn {
    display: block;
    font-size: rem(16px);
    position: absolute;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    width: rem(60px);

    &__hide {
      display: none;

      .show-faq & {
        display: block;
      }
    }

    &__show {
     .show-faq & {
        display: none;
     }
    }

    i {
      position: relative;
      top: rem(2px);
    }
  }

  &__question {
    cursor: pointer;
    font-weight: 600;
    padding: rem(15px) 0;
    margin: 0;
    padding-right: rem(65px);
    position: relative;
  }

  &__answer {
    display: none;
    margin-bottom: rem(15px);
  }
}

.block-faq {
  &__title {
    @include susy-media(tablet) {
      margin-bottom: rem(38px);
    }
  }
}

.faq-section {
  &__item {
    padding: rem(25px) 0 rem(30px);

    @include susy-media(tablet) {
      padding: rem(45px) 0 rem(49px);
    }
  }

  &__title {
    @include susy-media(tablet) {
      @include span(4 of $susy-desktop no-gutters);
      margin-bottom: 0;
      padding-right: rem(50px);
    }

    .text--dark & {
      color: $primary-color;
    }
  }

  &__accordion {
    @include susy-media(tablet) {
      @include span(8 of $susy-desktop wide last);
      margin-top: rem(-12px);
    }
  }
}
