.grid-tiles {
  padding: rem(40px 0 50px);

  @include susy-media(tablet) {
    padding: rem(86px 0 100px);
  }

  &__group {
    padding: rem(15px 20px);

    @include susy-media(tablet) {
      padding: rem(15px 30px);
    }
  }

  &__title {
    margin-bottom: rem(10px);
  }

  &__link-hover {
    a {
      @extend %link-hover-conver;
    }
  }

  &__grid {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__item {
      align-self: stretch;
      box-shadow: 0 0 rem(10px) 0 rgba($black, .15);
      margin-top: rem(20px);
      position: relative;
      transition: all .5s ease;
      width: 100%;

      &:nth-child(1) {
        margin-top: 0;
      }

      @include susy-media(mobilePortraitWide) {
        margin-left: rem(10px);
        width: calc((100% - #{rem(10px)})/2);

        &:nth-child(2),
        &:nth-child(1) {
          margin-top: 0;
        }

        &:nth-child(2n + 1) {
          margin-left: 0;
        }
      }

      @include susy-media(tablet) {
        width: calc((100% - #{3 * rem(10px)})/4);

        &:nth-child(4),
        &:nth-child(3),
        &:nth-child(2),
        &:nth-child(1) {
          margin-top: 0;
        }

        &:nth-child(2n + 1) {
          margin-left: rem(10px);
        }

        &:nth-child(4n + 1) {
          margin-left: 0;
        }
      }

      &:hover {
        box-shadow: rem(0 1px 8px 0) rgba($black, .8);
      }

      .text--white & {
        box-shadow: 0 0 rem(10px) 0 rgba($white, .15);

        &:hover {
          box-shadow: rem(0 1px 8px 0) rgba($white, .8);
        }
      }
    }
  }
}
