// Button
.btn {
  @include SourceSansPro;
  background-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: rem(1px);
  box-shadow: none;
  display: inline-block;
  font-size: rem(18px);
  font-weight: 600;
  line-height: 1;
  min-width: rem(200px);
  outline: none;
  padding: rem(13.5px 15px);
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: $brand-secondary;
  border-color: $brand-secondary;
  color: $white;
  cursor: pointer;

  &:active,
  &:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $white;
  }

  &--solid-black {
    background-color: $white;
    border-color: $clay;
    color: $clay;

    &:active,
    &:hover {
      background-color: $white;
      border-color: $brand-secondary;
      color: $brand-secondary;
    }
  }
}
