// Button
.btn {
  @include SourceSansPro;
  background-image: none;
  border-radius: 0;
  border-style: solid;
  border-width: rem(1px);
  box-shadow: none;
  display: inline-block;
  font-size: rem(18px);
  font-weight: 600;
  line-height: 1;
  min-width: rem(114px);
  outline: none;
  padding: rem(13.5px 15px);
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background-color: $branding-color-1;
  border-color: $branding-color-1;
  color: $white;
  cursor: pointer;

  &:active,
  &:hover {
    background-color: $branding-color-1-darker;
    border-color: $branding-color-1-darker;
    color: $white;
  }
}
