// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000000;
$white: #fff;

$gray: #333333;
$gray-f4: #f4f4f4;
$gray-f9: #f9f6ef;
$gray-dd: #ddd;

$silver: #ccc;

$red: #8c1515;

$green: #00505c;

$blue: #006cb8;

$brown: #2f2424;
$brown-5f: #5f574f;

$branding-color-1: $red;
$branding-color-1-darker: darken($branding-color-1, 10%);
$branding-color-2: $green;
$branding-color-2-darker: darken($branding-color-2, 10%);
$branding-color-3: $blue;
$branding-color-3-darker: darken($branding-color-3, 10%);

$text-color: $gray;
