// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$white: #fff;

$gray: #333333;

$silver: #ccc;

// BRAND COLORS
$brand-primary: #8c1515;
$brand-secondary: #b1040e;
$sub-brand-primary: #00505c;
$link-brand-primary: #006cb8;
$link-brand-primary-darker: darken($link-brand-primary, 10%);

// SUPPORT COLORS
$black: #2e2d29;
$light-sandstone: #f9f6ef;
$fog: #f4f4f4;
$clay: #5f574f;
$brown: #2f2424;
$sun: #ffe16b;
$cadet-blue: #b2bac4;

// OVERLAY COLORS
$hero-dark-overlay: #2b2b2b;
$image-dark-overlay: #414141;

// UTILITY COLORS
$error-color: #e20d0d;
$positive-color: #2dcc70;

$text-color: $black;
