// FONTS
// Import all webfonts here
//https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
@include font-face(spcs, fonts/spcs, 700, normal);
@include font-face(SourceSansPro, fonts/SourceSansPro-Bold, 700, normal);
@include font-face(SourceSansPro, fonts/SourceSansPro-BoldItalic, 700, italic);
@include font-face(SourceSansPro, fonts/SourceSansPro-SemiBold, 600, normal);
@include font-face(SourceSansPro, fonts/SourceSansPro-SemiBoldItalic, 600, italic);
@include font-face(SourceSansPro, fonts/SourceSansPro-Regular, 400, normal);
@include font-face(SourceSansPro, fonts/SourceSansPro-Italic, 400, italic);
