button,
input[type='submit'] {
  @extend .btn;
}

%form-text,
.form-text,
input[type="tel"] {
  @include SourceSansPro;
  appearance: none;
  background-color: $white;
  border: rem(1px) solid $gray-dd;
  box-shadow: inherit;
  box-sizing: border-box;
  color: $text-color;
  font-size: rem(18px);
  height: rem(44px);
  outline: 0;
  border-radius: 0;
  padding: rem(5px 15px);
  width: 100%;

  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: $gray-dd;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $gray-dd;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $gray-dd;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $gray-dd;
    opacity: 1;
  }

  &.focused,
  &:focus {
    border-color: $text-color;
    background-color: $white;
    color: $text-color;
  }

  &.error {
    border-color: $red;
    padding-right: rem(40px);
  }

  &.success {
    border-color: $green;
  }

  &[disabled] {
    cursor: not-allowed;

    &::-webkit-input-placeholder {
      opacity: 0.5;
    }

    &::-moz-placeholder {
      opacity: 0.5;
    }

    &:-ms-input-placeholder {
      opacity: 0.5;
    }

    &:-moz-placeholder {
      opacity: 0.5;
    }
  }
}

.form-url,
.form-email {
  @extend %form-text;
}

.form-textarea {
  @extend %form-text;
  font-size: rem(18px);
  height: auto;
  min-height: rem(200px);
  padding: rem(10px 15px);
}

.form-item,
.form-actions {
  margin:rem(0 0 15px);

  &.form-type-checkbox,
  &.form-type-radio {
    margin-bottom: rem(8px);
  }
}

input[type="checkbox"],
input[type="radio"] {
  @extend %invisible;

  + label{
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    padding: rem(0 0 2px 35px);

    @include susy-media(tablet) {
      padding: rem(0 0 2px 30px);
    }

    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: rem(3px);
      width: rem(22px);
      height: rem(22px);
      border: rem(1px) solid $gray-dd;

      @include susy-media(tablet) {
        width: rem(16px);
        height: rem(16px);
        top: rem(4px);
      }
    }

    &:after {
      content: "";
      left: rem(4px);
      opacity: 0;
      position: absolute;
      top: rem(7px);
      transition: opacity .3s ease;

      @include susy-media(tablet) {
        top: rem(8px);
      }
    }
  }

  &:active,
  &:focus {
    & + label {
      &:before {
        border-color: $text-color;
      }
    }
  }

  &:checked {
    & + label {
      &:before {
        border-color: $branding-color-1;
      }
    }
  }
}

input[type="radio"] {
  + label {
    &:before {
      border-radius: 50%;
    }
  }

  &:checked {
    & + label {
      &:before {
        border-width: rem(2px);
        height: rem(20px);
        width: rem(20px);

        @include susy-media(tablet) {
          height: rem(14px);
          width: rem(14px);
        }
      }

      &:after {
        width: rem(16px);
        height: rem(16px);
        opacity: 1;
        background: $branding-color-1;
        border-radius: 100%;

        @include susy-media(tablet) {
          width: rem(10px);
          height: rem(10px);
        }
      }
    }
  }
}

input[type="checkbox"] {
  + label {
    padding: rem(0 0 2px 40px);

    @include susy-media(tablet) {
      padding: rem(0 0 2px 35px);
    }

    &:before {
      width: rem(24px);
      height: rem(24px);

      @include susy-media(tablet) {
        width: rem(18px);
        height: rem(18px);
      }
    }
  }

  &:checked {
    & + label {
      &:before {
        border-width: rem(2px);
        height: rem(22px);
        width: rem(22px);
        background-color: $branding-color-1;
        border-color: $branding-color-1;

        @include susy-media(tablet) {
          height: rem(16px);
          width: rem(16px);
        }
      }

      &:after {
        @extend %icons;
        @extend .icon-check:before;
        color: $white;
        font-size: rem(15px);
        left: rem(6px);
        opacity: 1;

        @include susy-media(tablet) {
          left: rem(5px);
          font-size: rem(11px);
        }
      }
    }
  }
}

.form-type-select {
  position: relative;

  .select-arrow-icon {
    color: $text-color;
    height: rem(15px);
    line-height: rem(15px);
    margin-top: rem(15px);
    position: absolute;
    right: rem(15px);
    text-align: left;
    text-indent: -999em;
    width: rem(15px);
    z-index: 3;
    display: block;

    &:before {
      @extend %icons;
      @extend .icon-triangle-down:before;
      display: block;
      float: left;
      font-size: rem(14px);
      height: 100%;
      text-align: center;
      text-indent: 0;
      transform: rotate(0);
      width: 100%;
    }
  }

  select {
    @include SourceSansPro;
    appearance: none;
    font-size: rem(18px);
    border: rem(1px) solid $gray-dd;
    background: $white;
    height: rem(44px);
    padding: rem(6px 40px 6px 15px);
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    color: $gray-dd;

    &.focused,
    &:active,
    &:focus {
      border-color: $text-color;
      color: $text-color;
      background-color: $white;
      outline: none;
    }
  }
}
