// VARIABLES
// Define all variables (aside from colors) in this document. This includes breakpoint, sizes, etc.

//Breakpoints
$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1280px;
$desktop-superwide: 1440px;

// Grid variables
$container-margin: 20px;
$container-margin-tablet: 40px;
$container: 960px;
$container-wide: 1180px;
$container-superwide: 1260px;

$column-mobile: 4;
$column-tablet: 8;
$column-desktop: 12;

//Font variables
$base-font-size: 16px;
$base-line-height: 1.4;

// Add global paths
$image-path: '../images/';
