// footer
%nav-footer,
.nav-footer {
  ul {
    margin: 0 0 rem(15px);
  }

  li {
    margin: 0;
    font-size: rem(18px);

    @include susy-media(tablet) {
      font-size: rem(15px);
      margin-bottom: rem(-2px);
    }
  }
}

.footer-panel {
  font-size: rem(15px);
  line-height: 1.6;
  padding: rem(31px 0 10px);

  @include susy-media(tablet) {
    padding: rem(28px) 0 rem(28px);
  }

  .logo-footer {
    line-height: 0;
    margin-bottom: rem(17px);
    padding-top: rem(3px);

    @include susy-media(tablet) {
      margin-bottom: rem(20px);
    }
  }

  .logo {
    @include susy-media(tabletOnly) {
      width: rem(95px);
    }
  }

  .site-name {
    margin-left: rem(5px);

    &:before {
      background-color: $light-sandstone;
    }

    @include susy-media(tabletOnly) {
      width: rem(120px);
    }
  }

  .who-we-are {
    font-size: 18px;
    padding-right: rem(15px);

    @include susy-media(tablet) {
      font-size: rem(15px);

      p {
        margin-bottom: 15px;
      }
    }

    a {
      font-size: rem(17px);
      font-weight: 700;
    }
  }

  &__title {
    font-size: rem(18px);
    margin-bottom: rem(17px);
    text-transform: uppercase;

    @include susy-media(tablet) {
      font-size: rem(15px);
      margin-bottom: rem(11px);
    }
  }

  &__body {
    font-size: rem(18px);
    margin-bottom: rem(15px);

    @include susy-media(tablet) {
      font-size: rem(15px);
      margin-bottom: rem(17px);
    }
  }

  .support-us {
    font-size: rem(18px);

    @include susy-media(tablet) {
      font-size: rem(15px);
    }

    .btn {
      background-color: $sun;
      border-color: $sun;
      color: $black;
      min-width: rem(114px);
      text-transform: uppercase;

      @include susy-media(mobileOnly) {
        float: right;
        margin-bottom: rem(15px);
        margin-top: rem(6px);
      }
    }

    @include susy-media(mobileOnly) {
      @include clearfix;

      p {
        float: left;
        margin-bottom: rem(15px);
        padding-right: rem(35px);
        width: calc(100% - #{rem(114px)});
      }
    }
  }

  &__top {
    &__item {
      @include susy-media(mobileOnly) {
        margin-bottom: rem(32px);

        &:nth-child(1) {
          .footer-panel__title {
            margin-bottom: rem(10px);
          }
        }

        &:nth-child(4),
        &:nth-child(1) {
          clear: both;
        }

        &:nth-child(2),
        &:nth-child(3) {
          float: left;
          margin-bottom: rem(10px);
          margin-right: rem(30px);
          width: calc((100% - #{rem(30px)})/2);
        }

        &:nth-child(2) {
          float: right;
          margin-right: 0;
        }

        &:nth-child(4) {
          margin-bottom: 0;
        }
      }

      @include susy-media(tablet) {
        float: left;
        margin-right: rem(20px);

        &:nth-child(1) {
          .footer-panel__title {
            margin-bottom: rem(9px);
          }
        }

        &:nth-child(4n + 1) {
          width: calc((100% - #{3 * rem(20px)})*4.4/12);
        }

        &:nth-child(4n + 2) {
          width: calc((100% - #{3 * rem(20px)})*2.7/12);
        }

        &:nth-child(4n + 3) {
          width: calc((100% - #{3 * rem(20px)})*2.1/12);
        }

        &:nth-child(4n) {
          margin-right: 0;
          width: calc((100% - #{3 * rem(20px)})*2/12);
        }
      }

      @include susy-media(desktop) {
        float: left;
        margin-right: rem(30px);

        &:nth-child(4n + 1) {
          width: calc((100% - #{rem(30px)})*3.5/12);
        }

        &:nth-child(4n + 2) {
          width: calc((100% - #{rem(30px)})*2.95/12);
        }

        &:nth-child(4n + 3) {
          width: calc((100% - #{rem(30px)})*1.95/12);
        }

        &:nth-child(4n) {
          margin-right: 0;
          width: calc((100% - #{rem(30px)})*2.82/12);
        }
      }
    }
  }
}

.footer-global {
  font-size: rem(14px);
  padding: rem(25px 0);

  @include susy-media(tablet) {
    padding: rem(17px 0 19px);
  }

  &__logo {
    float: left;
    line-height: 0;

    @include susy-media(mobileOnly) {
      padding: 0;
      text-align: left;
      width: calc(100% - #{rem(144px)});
    }

    img {
      height: auto;
      width: rem(103px);

      @include susy-media(tablet) {
        width: rem(105px);
      }
    }
  }

  &__nav,
  &__copyright {
    @include susy-media(tablet) {
      line-height: 1.45;
      margin-left: rem(160px);
    }
  }

  &__nav {
    font-size: rem(18px);
    margin-bottom: rem(3px);
    padding-top: rem(7px);

    @include susy-media(tablet) {
      font-size: rem(14px);
      margin-bottom: 0;
      padding-top: rem(5px);
    }

    @include susy-media(mobileOnly) {
      float: right;
      margin: 0;
      padding: 0;
      text-align: left;
      width: rem(144px);
    }

    ul {
      margin: 0;
    }

    li {
      margin: 0 0 rem(6px);

      @include susy-media(tablet) {
        display: inline;
        margin: 0 rem(26px) 0 0;
      }

      &:last-of-type {
        margin-bottom: 0;

        @include susy-media(tablet) {
          margin-right: 0;
        }
      }
    }
  }

  &__copyright {
    @include susy-media(mobileOnly) {
      float: left;
      padding: rem(10px 35px 0 0);
      width: calc(100% - #{rem(144px)});
    }

    p {
      margin: 0;
    }
  }
}
