<div class="quote {{ blockQuote.bgColor }} text--center">
  <div class="container">
    <div class="quote__body">
      <blockquote>
        <p>{{ blockQuote.quote }}</p>
      </blockquote>
    </div>
    <h4 class="quote__author">{{ blockQuote.author }}</h4>
    <div class="quote__position">{{ blockQuote.position }}</div>
  </div>
</div>
