{% if heroBanner.image is not empty %}
  <div class="hero-banner has-image">
{% else %}
  <div class="hero-banner">
{% endif %}
  {% if heroBanner.image is not empty %}
    <div class="hero-banner__image">
      {{ heroBanner.image }}
    </div>
  {% endif %}
  <div class="hero-banner__content-wrap">
    <div class="container">
      <div class="hero-banner__content text--center {{ heroBanner.bgColor }}">
        {% if heroBanner.title is not empty %}
          <h1 class="page-heading__title">{{ heroBanner.title|raw }}</h1>
        {% endif %}
        {% if heroBanner.subtitle is not empty %}
          <div class="page-heading__subtitle">{{ heroBanner.subtitle }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
