<div class="block-bio__image">{{ blockBioItem.image }}</div>
<h4 class="block-bio__title">{{ blockBioItem.title }}</h4>
<div class="block-bio__description">{{ blockBioItem.description }}</div>
<div class="block-bio__link-hover">{{ blockBioItem.link }}</div>
