{% if blockBioItem.image is not empty %}
  <div class="block-bio__image">{{ blockBioItem.image }}</div>
{% endif %}
<div class="block-bio__group">
  {% if blockBioItem.title is not empty %}
    <h4 class="block-bio__title">{{ blockBioItem.title }}</h4>
  {% endif %}
  {% if blockBioItem.body is not empty %}
    <div class="block-bio__body text--small typography-space-small">{{ blockBioItem.body }}</div>
  {% endif %}
</div>
{% if blockBioItem.link is not empty %}
  <div class="block-bio__link-hover">{{ blockBioItem.link }}</div>
{% endif %}
