{% if textColumnsItem.title %}
  <h3 class="text-columns__title">{{ textColumnsItem.title }}</h3>
{% endif %}

{% if textColumnsItem.body %}
  <div class="text-columns__body typography-space-small">{{ textColumnsItem.body }}</div>
{% endif %}
