//Clearfix

%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%invisible,
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem(1px);
  margin: rem(-1px);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: rem(1px);
}

%link-hover-conver {
  opacity: 0;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  z-index: 1;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%
}
