// Helper classes
// Text
.text {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--semibold {
    font-weight: 600;
  }

  // Text white
  &--white {
    color: $white;
  }

  // Text dark
  &--dark {
    color: $text-color;
  }
}

// Backgrounds
.bg {
  // Brand backgrounds
  &--brand-primary {
    background-color: $brand-primary;
  }

  &--brand-secondary {
    background-color: $brand-secondary;
  }

  &--sub-brand-primary {
    background-color: $sub-brand-primary;
  }

  &--link-brand-primary {
    background-color: $link-brand-primary;
  }

  // Light backgrounds
  &--white {
    background-color: $white;
  }

  &--light-sandstone {
    background-color: $light-sandstone;
  }

  &--fog {
    background-color: $fog;
  }

  // Dark backgrounds
  &--clay {
    background-color: $clay;
  }

  &--brown {
    background-color: $brown;
  }

  // Overlay backgrounds
  &--hero-dark-overlay {
    @include gradient-overlay($hero-dark-overlay, .85);
  }

  &--image-dark-overlay {
    @include gradient-overlay($image-dark-overlay, .65);
  }
}

.element-invisible {
  @extend %invisible;
}

.video-wrap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: rem(20px);

  video,
  iframe {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__poster {
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(0);
    transition: transform .8s ease;
    width: 100%;
    overflow: hidden;

    &:after {
      z-index: 2;
    }

    img {
      height: 100%;
      left: 0;
      max-width: inherit;
      position: absolute;
      width: auto;
      z-index: 1;
    }
  }

  &__icon {
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &.play-video {
    .video-wrap__poster {
      transform: translateY(-100%);
    }

    video,
    iframe {
      opacity: 1;
    }
  }
}
